extends ../_layout

block head
    title= title
    - var keywords = tags.join(' ')
    meta(keywords=keywords)
    meta(description=description)

block content
    .info
        .createdAt= createdAt
        h2= title
        img.coverpic(src= pic, alt= title)
    .content
        block article
    ul.tags
        each tag in tags
            li= tag
