doctype xml
rss(version="2.0", xmlns:atom="http://www.w3.org/2005/Atom")
  channel  
    title= blogTitle
    link= blogUrl
    description= blogSubtitle
    atom:link(href=`${ blogUrl }/feed.xml`, rel="self", type="application/rss+xml")
    for post, slug in articles
      item
        title= post.title
        description <![CDATA[!{ `${ post.description }` }]]>
        pubDate= new Date(post.createdAt)
        link= `${ blogUrl }/articles/${ slug }`
        guid(isPermaLink="true") #{ blogUrl }/articles/#{ slug }
